.home {
  height: 100%;
  padding: 100px 55px;
  overflow-y: scroll;

  &__wrapper {
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #3a3845;
    gap: 50px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0 15px;
  }

  &__top-search {
    display: flex;
    gap: 70px;
    width: 700px;
  }

  &__main-btn {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 15px;

    & svg {
      cursor: pointer;
      width: 35px;
    }
  }


  &__search {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-input {
      font-size: 20px;
      width: 100%;
      background: #fcf5f0;
      border: none;
      padding: 10px 25px;
    }

    &-ico {
      position: absolute;
      right: 0;
      top: 10%;
      transform: translate(-50%);
      width: 25px;
      opacity: 0.6;
    }
  }

  &__pages {
    // TODO: remake on grid, add transition for remove-icon
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;

    &-item {
      height: 300px;
      min-width: 450px;
      color: inherit;
      text-decoration: none;
      background: #ffffffcf;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      &:hover {
        .home__pages-remove {
          opacity: 1;
        }
      }
    }

    &-panel {
      padding: 10px;
      padding-right: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & svg {
        width: 22px;
      }
    }

    &-info {
      display: flex;
      gap: 4px;
      flex-direction: column;
    }

    &-title {
      font-size: 28px;
    }

    &-remove {
      opacity: 0;
      transition: 0.1s;
    }

    &-date {
      font-weight: 300;
      font-size: 18px;
    }
  }

  &__favorites {
    position: relative;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 30px;
      margin-bottom: 35px;
    }

    &-item {
      width: 600px;
      background: #d8b499;
      text-decoration: none;
      font-size: 20px;
      color: inherit;
      padding: 5px;
      margin-bottom: 10px;
    }
  }
}

.setting {
  position: relative;
  margin-top: auto;
  align-self: end;

  &-btn {
    width: 34px;
    display: inline-block;
    border: none;
    cursor: pointer;
  }
}

.new-board-modal {
  position: absolute;
  left: 137px;
  top: 19px;
}