.home {
  max-width: 1680px;
  margin: 0 auto;
  padding: 100px 15px;
}
.home__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3a3845;
}
.home__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
  max-width: 990px;
}
.home__main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home__main-btn {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  padding: 0 70px 35px 0;
}
.home__main-btn img {
  position: absolute;
  width: 35px;
  right: 20px;
}
.home__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.home__search-input {
  font-size: 20px;
  width: 100%;
  background: #fcf5f0;
  border: none;
  padding: 10px 25px;
}
.home__search-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 7px;
  right: 10px;
}
.home__search-btn img {
  width: 25px;
  height: 25px;
}
.home__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home__pages-item {
  width: 300px;
  height: 150px;
  color: inherit;
  text-decoration: none;
  background: #d8b499;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
  margin: 10px;
}
.home__pages-title {
  font-size: 32px;
}
.home__favorites {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home__favorites-title {
  font-size: 30px;
  margin-bottom: 35px;
}
.home__favorites-item {
  width: 600px;
  background: #d8b499;
  text-decoration: none;
  font-size: 20px;
  color: inherit;
  padding: 5px;
  margin-bottom: 10px;
}

.setting-btn {
  width: 40px;
  height: 44px;
  display: inline-block;
  border: none;
  background-color: transparent;
  background-image: url("../img/setting.svg");
  margin-top: auto;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  cursor: pointer;
}
.setting-modal {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 300px;
  background: #fcf5f0;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.setting-modal--active {
  display: block;
}
.setting-modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.setting-modal__item:not(:last-child) {
  margin-bottom: 10px;
}