.home {
  max-width: 1680px;
  margin: 0 auto;
  padding: 100px 15px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    color: #3a3845;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    max-width: 990px;

    &-top {
      display: flex;
    }

    &-btn {
      position: relative;
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 30px;
      font-weight: 700;
      padding: 0 70px 35px 0;

      img {
        position: absolute;
        width: 35px;
        right: 20px;
      }
    }
  }

  &__main-left {
    padding: 0 76px 0 0;
  }

  &__search {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 100%;

    &-input {
      font-size: 20px;
      width: 100%;
      background: #fcf5f0;
      border: none;
      padding: 10px 25px;
    }

    &-btn {
      background: transparent;
      border: none;
      position: absolute;
      top: 7px;
      right: 10px;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  &__pages {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 300px;
      height: 150px;
      color: inherit;
      text-decoration: none;
      background: #d8b499;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 10px;
      margin: 10px;
    }
  
    &-title {
      font-size: 32px;
    }
  }

  &__favorites {
    position: relative;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 30px;
      margin-bottom: 35px;
    }

    &-item {
      width: 600px;
      background: #d8b499;
      text-decoration: none;
      font-size: 20px;
      color: inherit;
      padding: 5px;
      margin-bottom: 10px;
    }
  }
}

.setting {
  &-btn {
    width: 40px;
    height: 44px;
    display: inline-block;
    border: none;
    background-color: transparent;
    background-image: url('../img/setting.svg');
    margin-top: auto;
    align-self: end;
    cursor: pointer;
  }

  &-modal {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 300px;
    background: #fcf5f0;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    &--active {
      display: block;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

