.home {
  height: 100%;
  padding: 100px 55px;
  overflow-y: scroll;
}

.home__wrapper {
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3a3845;
  gap: 50px;
}

.home__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.home__top-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  width: 700px;
}

.home__main-btn {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  padding: 4px 50px 5px 3px;
}

.home__main-btn--wrapper {
  position: relative;
  margin-right: 10px;
}

.home__main-btn img {
  position: absolute;
  width: 35px;
  right: 5px;
}

.home__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.home__search-input {
  font-size: 20px;
  width: 100%;
  background: #fcf5f0;
  border: none;
  padding: 10px 25px;
}

.home__search-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.home__search-btn img {
  width: 25px;
  height: 25px;
}

.home__pages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

.home__pages-item {
  width: 30%;
  height: 250px;
  min-width: 450px;
  color: inherit;
  text-decoration: none;
  background: #d8b499;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
  position: relative;
}

.home__pages-item:hover .home__pages-remove {
  display: block;
}

.home__pages-title {
  font-size: 32px;
}

.home__pages-remove {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.home__pages-date {
  font-weight: 300;
  font-size: 20px;
}

.home__favorites {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__favorites-title {
  font-size: 30px;
  margin-bottom: 35px;
}

.home__favorites-item {
  width: 600px;
  background: #d8b499;
  text-decoration: none;
  font-size: 20px;
  color: inherit;
  padding: 5px;
  margin-bottom: 10px;
}

.setting {
  position: relative;
  margin-top: auto;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.setting-btn {
  width: 40px;
  height: 44px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: inline-block;
  border: none;
  background-color: transparent;
  background-image: url("../img/setting.svg");
  cursor: pointer;
}

.new-board-modal {
  position: absolute;
  left: 137px;
  top: 19px;
}
/*# sourceMappingURL=home.css.map */