.home {
  height: 100%;
  padding: 100px 55px;
  overflow-y: scroll;
}

.home__wrapper {
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3a3845;
  gap: 50px;
}

.home__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding: 0 15px;
}

.home__top-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  width: 700px;
}

.home__main-btn {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.home__main-btn svg {
  cursor: pointer;
  width: 35px;
}

.home__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.home__search-input {
  font-size: 20px;
  width: 100%;
  background: #fcf5f0;
  border: none;
  padding: 10px 25px;
}

.home__search-input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.6;
}

.home__search-input:-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}

.home__search-input::-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}

.home__search-input::placeholder {
  color: inherit;
  opacity: 0.6;
}

.home__search-ico {
  position: absolute;
  right: 0;
  top: 10%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 25px;
  opacity: 0.6;
}

.home__pages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

.home__pages-item {
  height: 300px;
  min-width: 450px;
  color: inherit;
  text-decoration: none;
  background: #ffffffcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.home__pages-item:hover .home__pages-remove {
  opacity: 1;
}

.home__pages-panel {
  padding: 10px;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__pages-panel svg {
  width: 22px;
}

.home__pages-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__pages-title {
  font-size: 28px;
}

.home__pages-remove {
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.home__pages-date {
  font-weight: 300;
  font-size: 18px;
}

.home__favorites {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__favorites-title {
  font-size: 30px;
  margin-bottom: 35px;
}

.home__favorites-item {
  width: 600px;
  background: #d8b499;
  text-decoration: none;
  font-size: 20px;
  color: inherit;
  padding: 5px;
  margin-bottom: 10px;
}

.setting {
  position: relative;
  margin-top: auto;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.setting-btn {
  width: 34px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.new-board-modal {
  position: absolute;
  left: 137px;
  top: 19px;
}
/*# sourceMappingURL=home.css.map */