* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4e6dc;
  height: 100vh;
}

input,
button {
  border: none;
  background-color: transparent;
}

input {
  outline: 0 !important;
}

button {
  cursor: pointer;
}

.palette {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #d8b499;
  cursor: pointer;
}

.small-modal {
  position: absolute;
  width: 359px;
  height: 156px;
  background: #fcf5f0;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 27px 20px;
  font-size: 24px;
  line-height: 29px;
  z-index: 10;

  &__input {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    border-bottom: 4px solid #d8b499;
    margin-bottom: 35px;

    &::placeholder {
      font-size: 24px;
      line-height: 29px;
      color: #000;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    margin-right: 10px;
  }

  &__btn {
    background: #d8b499;
    padding: 4px 15px;
    font-size: 24px;
    line-height: 29px;
  }
  &--setting {
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 20px;
    bottom: 20px;
  }
}
