$mainColor: #FCF5F0
$additionalColor: #F5DECE
$toolsSize: 3vw
$toolsBack: $toolsSize - 1vw
$toolsGap: 0.6vw

::-webkit-scrollbar
    display: none

.main-board
    height: 100%
    width: 100%
    background: $mainColor
    position: relative

.board
    height: 2000px
    width: 2000px
    background: #ff9191
    &-name
        position: fixed
        left: 12px
        top: 20px

        &__btn
            font-size: 26px
            line-height: 31px
            cursor: pointer
        &__modal
            top: 32px
            left: 0

.tool-panel
    position: fixed
    top: 50%
    transform: translateY(-50%)
    display: flex
    flex-direction: column
    gap: $toolsGap
    margin-left: $toolsGap

    &--right
        right: $toolsGap

.tool-item
    background-color: $additionalColor
    background-repeat: no-repeat
    background-size: $toolsBack $toolsBack
    background-position: center center
    width: $toolsSize
    height: $toolsSize
    border: none
    z-index: 100
