$mainColor: #FCF5F0
$additionalColor: #F5DECE
$toolsSize: 3vw
$toolsBack: $toolsSize - 1vw
$toolsGap: 0.6vw

::-webkit-scrollbar
    display: none

.main-board
    height: 100%
    width: 100%
    background: $mainColor

.board
    height: 2000px
    width: 2000px
    background: #FCF5F0

.tool-panel
    position: fixed
    top: 50%
    transform: translateY(-50%)
    display: flex
    flex-direction: column
    gap: $toolsGap
    margin-left: $toolsGap

    &--right
        right: $toolsGap

.tool-item
    background-color: $additionalColor
    background-repeat: no-repeat
    background-size: $toolsBack $toolsBack
    background-position: center center
    width: $toolsSize
    height: $toolsSize
    border: none
    z-index: 100
