* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}


//========================//

.modal {
    // z-index: 100;
    transform: scale(0);
    &.active {
        transform: scale(1);
        // z-index: 100;
    }

    &__wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    &__body {
        background-color: #FCF5F0;
        padding: 20px;
        font-size: 25px;
        font-weight: 700;
    }

    &__btns {
        padding-top: 15px;
        display: flex;
        justify-content: end;
    }

    &__btn {
        padding: 5px 15px;
        font-size: 20px;
        background: #D8B499;
    }

    &__confirm {
        padding-right: 15px;
    }
}