$selectColor: rgba(102, 228, 102, 0.382);

.note-wrap {
    background: #F4E6DC;
    // min-width: 300px;
    // min-height: 300px;
    position: fixed;

    > div {
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
    }

    .loading-link-modal {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;

        form {
            display: flex;
        }

        input {
            margin: auto;
            width: 80%;
        }
    }
}

.note-wrap--selected {
    box-shadow: 0 0 5px 5px $selectColor;
}

.note-wrap .resize-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border-radius: 100%;

    &:hover {
        background: $selectColor;
    }
}