$selectColor: rgba(102, 228, 102, 0.382);

.note-wrap {
    background: #F4E6DC;
    position: absolute;
    isolation: isolate;

    >div {
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
    }

    .loading-link-modal {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;

        form {
            display: flex;
        }

        input {
            margin: auto;
            width: 80%;
        }
    }
}

.note-wrap--selected {
    outline: 8px black dashed;
    outline-offset: 10px;
}

.note-wrap .resize-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    background: transparent;
    border-radius: 100%;
    z-index: 2;
    transform: translate(50%) translateY(50%);
    mix-blend-mode: difference;

    &:hover {
        border: 8px dashed;
        border-color: inherit;
    }
}

.home .resize-btn:hover {
    outline: none;
}